<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
    <body>
<div class="page-header" style="color:#337ab7;">
    <h2>Atualizar dados</h2>
</div>

<div id="main" class="container-fluid" enctype='application/json'>
    <form action="atualiza" method="post">
        <div class="row">

            <div class="form-group col-md-2">
               <label for="camposenha">Nova senha ou a atual</label>
               <input type="password" class="form-control" id="camposenha"  name="password" >
            </div>

            <!-- <div class="form-group col-md-3">
               <label for="camposenha">Confimar Senha*</label>
               <input type="password" class="form-control" id="camposenha"  name="password" required oninvalid="this.setCustomValidity('Preencher este campo!')">
            </div> -->
        </div>

        <div class="row">
            <div class="form-group col-md-4">
              <label for="camponome">Nome*</label>
              <input type="text" class="form-control" id="camponome"  name="nome" >
            </div>

            <div class="form-group col-md-4">
              <label for="camposobrenome">Sobrenome</label>
              <input type="text" class="form-control" id="camposobrenome"  name="sobrenome">
            </div>

            <div class="form-group col-md-4">
              <label for="campocelular">Contato*</label>
              <input type="text" class="form-control" id="campocelular"  name="celular">
            </div>


        </div>

        <div class="row">
             <div class="form-group col-md-4">
               <label for="campoendereco">Endereço</label>
               <input type="text" class="form-control" id="campoendereco"  name="endereco">
             </div>

            <div class="form-group col-md-4">
               <label for="campoemail">Email*</label>
               <input type="email" class="form-control" id="campoemail"  name="email" >
            </div>

            <div class="form-group col-md-4">
              <label for="campogostomusical">Gosto Musical</label>
              <input type="text" class="form-control" id="campogostomusical" name="gosto">
            </div>

        </div>

            <div class="form-group">
                <label>Sexo</label>
                <p></p>
                <label class="radio-inline"><input type="radio" name="optradio" value="Masculino">Masculino</label>
                <label class="radio-inline"><input type="radio" name="optradio" value="Feminino">Feminino</label>
                <p></p>
                <p></p>
            </div>

        <div class="row">
            <p> </p>
            <p> </p>
            <p style="text-indent: 1.5em;">* obrigatório</p>
        </div>


        <div id="actions" class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
        </div>

     </form>

 </div>
 <p></p>
</body>
<footer>
<%- include footer.ejs %>
</footer>
</html>
