<!DOCTYPE html>
<html>
 	<head>
        <%- include head.ejs %>
	</head>
  	<body>

	  	<div class="text-center">
        	<h1>Pedir Carona</h1>
      	</div>

        <table border="1" class="table table-condensed" id="table">
        <thead>
            <tr>
                 <th>Origem:</th>
                 <th>Destino:</th>
                 <th>Nome do(a) Motorista:</th>
				 <th>Nome de usuário do(a) Motorista:</th>
                 <th>Ida e Volta:</th>
                 <th>Contato</th>
            </tr>
        </thead>
		<% for(var i=0; i < data.length; i++) { %>
			<tbody>
			   <tr>
				 <td><%= data[i].origem %></td>
				 <td><%= data[i].destino %></td>
				 <td><%= data[i].nome %></td>
				 <td><%= data[i].username %></td>
				 <td><%= data[i].IV %></td>
				 <td><%= data[i].celular %></td>
			   </tr>
		   </tbody>
		<% } %>

      </table>

      <script src="js/bootstrap.min.js"></script>
  </body>

  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
