	<p class="ft-center">Todos os direitos reservados</p>
	<p class="ft-center"> 2016</p>

<!-- script references -->
  	<script src="/components/jquery/dist/jquery.min.js"></script>
  	<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
