<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
  	<body>

        <% if(emailfalse){ %>
            <div class="text-center" style="color:#ff0000;">
            	<h3>Email inválido!</h3>
          	</div>
        <% } %>

		<div class="text-center" style="color:#337ab7;">
        	<h3>Recuperar senha</h3>
      	</div>

	           <form class="form" role="form" method="post" action="forgotten" accept-charset="UTF-8" id="login-nav">
	              <div class="form-group">
	                 <label class="sr-only" for="email">Email</label>
	                 <input type="email" class="form-control" id="username" placeholder="Email" name="email" required>
	              </div>

  				  <button type="submit" class="btn btn-primary">Enviar</button>

	              <!-- <div class="checkbox">
	                 <label>
	                 <input type="checkbox"> Me mantenha logado
	                 </label>
	              </div> -->
	           </form>
			   <p></p>
  	</body>
  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
