
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="/"><%= title %></a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
          <% if(usuarioLogado.length > 0){ %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carona <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="carona">Pedir carona</a></li>
                  <li class="divider"></li>
                  <li><a href="motorista">Cadastrar motorista</a></li>
                </ul>
            </li>
          <% } %>
            <li><a href="sobre">Sobre</a></li>
      </ul>

	  <% if(usuarioLogado.length > 0){ %>
		  <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><%= usuarioLogado %></b> <span class="caret"></span></a>
			    <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="bottom text-center">
                                <a href="home"><b>Home</b></a>
                            </div>
                        </div>
                    </li>
			        <li>
                      <div class="row">
                          <div class="bottom text-center">
                              <a href="logout"><b>Logout</b></a>
                          </div>
                      </div>
			        </li>
			    </ul>
			</li>
	    	</ul>
	  <% } else{ %>

      <ul class="nav navbar-nav navbar-right">
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
		    <ul id="login-dp" class="dropdown-menu">
		      <li>
		         <div class="row">
		            <div class="col-md-12">
		               <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
		                  <div class="form-group">
		                     <label class="sr-only" for="username">Login</label>
		                     <input type="text" class="form-control" id="username" placeholder="Login" name="username" required>
		                  </div>
		                  <div class="form-group">
		                     <label class="sr-only" for="password">Senha</label>
		                     <input type="password" class="form-control" id="password" placeholder="Senha" name="password" required>

		                  </div>
		                  <div class="form-group">
		                     <button type="submit" class="btn btn-primary btn-block">Entrar</button>
		                  </div>
		                  <!-- <div class="checkbox">
		                     <label>
		                     <input type="checkbox"> Me mantenha logado
		                     </label>
		                  </div> -->
		               </form>
		            </div>
		            <div class="bottom text-center" method="get">
		              <a href="forgotten"><b>Esqueceu a senha?</b></a>
		            </div>
		         </div>
		      </li>
		    </ul>
		</li>
		<li><a href="register">Crie uma conta?</a></li>
    	</ul>
		<% } %>
    </div>
  </div>
