<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
  	<body>

	  	<div class="text-center">
        	<h1 class="page-header" style="color:#337ab7;">Perfil</h1>
      	</div>

		<ul class="list-group">
		  <li class="list-group-item"><b>Nome:</b> <%= nome %></li>
  		  <li class="list-group-item"><b>Sobrenome:</b> <%= sobrenome %></li>
  		  <li class="list-group-item"><b>Contato:</b> <%= celular %></li>
  		  <li class="list-group-item"><b>Endereço:</b> <%= endereco %></li>
  		  <li class="list-group-item"><b>Email:</b> <%= email %></li>
  		  <li class="list-group-item"><b>Sexo:</b> <%= sexo %></li>
  		  <li class="list-group-item"><b>Gosto:</b> <%= gosto %></li>
	  </ul>
      <div id="actions" class="row">
          <div class="col-md-12">
              <a href="/atualiza" class="btn btn-primary" role="button">Editar Dados</a>
          </div>
      </div>
	  <div class="page-header" style="color:#337ab7;">
		  <h2>Descadastrar motorista</h2>
	  </div>
		<form action="removemotorista" method="post">
			<div id="actions" class="row">
				<div class="col-md-12">
				  <button type="submit" class="btn btn-primary">Descadastrar</button>
				</div>
			</div>
	 	</form>
		 <p></p>
  	</body>
  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
