<!DOCTYPE html>
<html>
  <%- include head.ejs %>
  <body>
    <div class="container">

      <div class="text-center">
        <h1><%= title %></h1>
        <p class="lead">App de caronas</p>
      </div>

    </div><!-- /.container -->
	<!-- script references -->

	<div id="myCarousel" class="carousel slide show" data-ride="carousel">
  		<!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img src="/img/img1.jpg" alt="Chania" align="middle">
		    </div>

		    <div class="item">
		      <img src="/img/img2.jpg" alt="Chania" align="middle">
		    </div>

            <div class="item">
		      <img src="/img/img3.jpg" alt="Chania" align="middle">
		    </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Anterior</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Próximo</span>
		  </a>
		</div>
	</div>
	<p></p>
  </body>
  <footer>
	  <%- include footer.ejs %>
  </footer>
</html>
