<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
  	<body>
		<div class="text-center" style="color:#ff0000;">
        	<h3>Falha no login!</h3>
      	</div>

	     <div class="col-md-12">
	           <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
	              <div class="form-group">
	                 <label class="sr-only" for="username">Login</label>
	                 <input type="text" class="form-control" id="username" placeholder="Login" name="username" required>
	              </div>
	              <div class="form-group">
	                 <label class="sr-only" for="password">Senha</label>
	                 <input type="password" class="form-control" id="password" placeholder="Senha" name="password" required>

	              </div>

  				  <button type="submit" class="btn btn-primary">Entrar</button>

	              <!-- <div class="checkbox">
	                 <label>
	                 <input type="checkbox"> Me mantenha logado
	                 </label>
	              </div> -->
	           </form>
	        </div>
	        <div class="bottom text-center">
	          Novo por aqui? <a href="register"><b>Junte-se a nós</b></a>
	        </div>
			 <a href="forgotten">Esqueceu a senha?</a>


  	</body>
  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
