<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
  	<body>

		<% if(exists){ %>
            <div class="text-center" style="color:#ff0000;">
            	<h3>Já existe uma carona registrada para este usuário!</h3>
          	</div>
        <% } %>

        <div id="main" class="container-fluid" enctype='application/json'>
			<h3 class="page-header" style="color:#337ab7;">Cadastro de Motorista</h3>
			<form action="motorista" method="post">
				<div class="row">
					 <div class="form-group col-md-4">
					   <label for="campomodelo">Modelo do carro</label>
					   <input type="text" class="form-control" id="campomodelo"  name="modelo">
					 </div>

                     <div class="form-group col-md-4">
                       <label for="campoplaca">Placa</label>
                       <input type="text" class="form-control" id="campoplaca" name="placa">
                     </div>

                     <div class="form-group col-md-4">
                       <label for="campocor">Cor</label>
                       <input type="text" class="form-control" id="campocor" name="cor">
                     </div>
				</div>

                <div class="row">
                    <div class="form-group col-md-4">
                      <label for="campoorigem">Origem*</label>
                      <input type="text" class="form-control" id="campoorigem"  name="origem" required>
                    </div>

                    <div class="form-group col-md-4">
                      <label for="campodestino">Destino*</label>
                      <input type="text" class="form-control" id="campodestino" name="destino" required>
                    </div>

                </div>

				<div class="row">
                    <div class="form-group col-md-4">
                      <label for="campopagamento">Tipo de Pagamento</label>
                      <input type="text" class="form-control" id="campopagamento"  name="pagamento">
                    </div>

                    <div class="form-group col-md-4">
                      <label for="campofumante">Aceita Fumantes?</label>
                      <input type="text" class="form-control" id="campofumante"  name="fumante">
                    </div>
                </div>

				<div class="row">
					<div class="form-group col-md-4">
						<label class="checkbox" style="text-indent: 1.5em;">
						<input type="checkbox" name="iv"> Ida e Volta
					</label>
					</div>
				</div>

				<p>* obrigatório</p>

                <div id="actions" class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <a href="/" class="btn btn-default">Cancelar</a>
                  </div>
               </div>

            </form>
        </div>
        <p></p>

  	</body>
  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
