<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
  	<body>
		<% if(exists){ %>
            <div class="text-center" style="color:#ff0000;">
            	<h3>Você não é mais motorista!</h3>
          	</div>
        <% } else{%>
            <div class="text-center" style="color:#ff0000;">
            	<h3>Você não se cadastrou como motorista!</h3>
          	</div>
        <% } %>
  	</body>
  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
