<!DOCTYPE html>
<html>
 	<head>
  		<%- include head.ejs %>
	</head>
  	<body>
        <div class="row">
    	  	<div class="text-center">
                <h1>Sobre</h1>
                <br />
          	</div>

            <div class="text-center">
        	    <h3>Site criado para o trabalho de Engenharia de Software do 5º ciclo da Ciência da Computação.</h3>
                <br />
                <br /><h4>Dhouglhas Silva Batista</h4>
                <h4>Henrique Xavier Goulart</h4>
                <h4>Kauê Massucci</h4>
                <h4>Daniel Gonçalves</h4>
                <h4>Leandro Duque Mussio</h4>
                <h4>Lucas Gil</h4>
            </div>
        </div>
  	</body>
  	<footer>
	  	<%- include footer.ejs %>
  	</footer>
</html>
